# Client Environment Variables
VITE_API_URL=http://localhost:8000

# API Environment Variables
PORT=8000
NODE_ENV=development
# DATABASE_URL=postgresql://hackaton:hackaton@postgres:5432/hackaton

# AWS Configuration for Bedrock
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=your_access_key_here
AWS_SECRET_ACCESS_KEY=your_secret_key_here

# Database Environment Variables (for future use)
# POSTGRES_DB=hackaton
# POSTGRES_USER=hackaton
# POSTGRES_PASSWORD=hackaton
# POSTGRES_HOST=postgres
# POSTGRES_PORT=5432
